<article class="post">
	<%= link_to(post_path(post), class:"article-link") do %>
	<h1 class="post-title"><%= post.title %></h1>
	<h2 class="post-date">Posted <%= distance_of_time_in_words_to_now(post.updated_at) %> ago</h2>
	<!-- <div class="post-body"><%= truncate(post.body, :length => 300) %></div> -->
	<% end %>
</article>