<% provide(:title, 'About') %>

<div class="default-cover image-cover">
</div>
<div class="tagline">An infinitely curious product designer</div>
<article class="post">
	<h1 class="main-title">Hi, I'm Jisi.</h1>
	<div class="post-body">
		<p>
			I'm an entrepreneur and product designer based in San Francisco, California. I specialize in mobile UX design and front-end development. I'm passionate about building simple and delightful products.
		</p>
		<p>
			I've designed and built products at <a href="http://mashable.com/2013/04/10/ribbon-twitter-purchases/" target="_blank">Ribbon</a>, <a href="http://techcrunch.com/2013/12/11/leo/" target="_blank">Leo</a>,  <a href="http://techcrunch.com/2014/07/17/jobr-2m/" target="_blank">Jobr</a> and <a href="http://techcrunch.com/2014/07/24/karma-swipe-lets-you-browse-reddit-with-tinder-like-swipes/" target="_blank">Karmaswipe</a>. Currently, I'm a cofounder and product designer at <a href="http://techcrunch.com/2014/08/14/camoji-lets-you-create-and-text-animated-gifs-via-imessage/" target="_blank">Camoji</a>, where we're building a simple gif camera.
		</p>
		<p>
			I am always interested in meeting new people and learning about new ideas. If you're interested in collaborating or just want to chat, please get in touch.
		</p>
		<p>
			Cheers,<br/>
			Jisi Guo
		</p>
	</div>
</article>

