<% provide(:title, 'About') %>

<div class="default-cover image-cover">
</div>
<div class="tagline">An infinitely curious product designer</div>
<article class="post">
	<h1 class="main-title">Hi, I'm Jisi.</h1>
	<div class="post-body">
		<p>
			I'm an entrepreneur and product designer based in San Francisco, California. I specialize in user experience design and front-end development. I'm passionate about building simple and delightful products.
		</p>
		<p>
			I've worked with large corporations as well as startups to address their product and design needs. At <a href="http://www.accenture.com" target="_blank">Accenture</a>, I worked in the R&D Lab, developing web and mobile applications. I founded a community for Chicago entrepreneurs that is now a part of <a href="http://www.builtinchicago.org/" target="_blank">Built In Chicago</a>. At <a href="https://ribbon.co/" target="_blank">Ribbon</a>, I was the Head of Product, where I led the UX design and development of our payments product. Currently, I'm a Product Designer at <a href="https://www.getleoapp.com" target="_blank">Leo</a>, where we're reinventing group chat.
		</p>
		<p>
			I am always interested in meeting new people and learning about new ideas. If you're interested in collaborating or just want to chat, please do get in touch.
		</p>
		<p>
			Cheers,<br/>
			Jisi Guo
		</p>
	</div>
</article>

