<% provide(:title, 'About') %>

<div class="default-cover image-cover">
</div>
<div class="tagline">An infinitely curious product designer</div>
<article class="post">
	<h1 class="main-title">Hi, I'm Jisi.</h1>
	<div class="post-body">
		<p>
			I'm an entrepreneur and product designer based in San Francisco, California. I specialize in user experience design and front-end development. I'm passionate about building simple and delightful products.
		</p>
		<p>
			I've designed and built products at <a href="http://www.accenture.com" target="_blank">Accenture</a>, <a href="http://www.builtinchicago.org/" target="_blank">Chicago Founders</a>, <a href="https://ribbon.co/" target="_blank">Ribbon</a>, <a href="http://www.leo.co" target="_blank">Leo</a>, <a href="http://www.karmaswipe.com" target="_blank">Karma Swipe</a>. Currently, I'm the Product Designer & Co-Founder at <a href="https://camoji.com" target="_blank">Camoji</a>, where we're building a simple gif camera.
		</p>
		<p>
			I am always interested in meeting new people and learning about new ideas. If you're interested in collaborating or just want to chat, please do get in touch.
		</p>
		<p>
			Cheers,<br/>
			Jisi Guo
		</p>
	</div>
</article>

