<% provide(:title, 'About') %>

<div class="default-cover image-cover">
</div>
<div class="tagline">An infinitely curious product designer</div>
<article class="post">
	<h1 class="main-title">Hi, I'm Jisi.</h1>
	<div class="post-body">
		<p>
			I'm an entrepreneur and product designer based in San Francisco, California. I specialize in user experience design and front-end development. I'm most interested in helping organizations craft simple and intuitive user experiences utilizing software and hardware.
		</p>
		<p>
			My journey as a designer has been a winding road. As an undergraduate at Northwestern University, I focused on business, majoring in industrial engineering and economics. I eventually discovered my passion for product design and enrolled in the master's program for user centered design at Northwestern. My multi-disciplinary background has often offered me a unique vantage point in solving design problems and delivering delightful user experiences.
		</p>
		<p>
			I've worked with large corporations as well as startups to address their product and design needs. At Accenture, I worked in the research & development lab, developing web and mobile applications. In 2011, I founded a community for Chicago entrepreneurs that is now a part of Built In Chicago. Most recently, I was the Head of Product at Ribbon, where I led user experience design and front-end development. Currently, I am working on projects as a freelance designer and developer.
		</p>
		<p>
			I am always interested in meeting new people and learning about new ideas. If you're interested in collaborating or just want to chat, please do get in touch.
		</p>
		<p>
			Cheers,<br/>
			Jisi Guo
		</p>
	</div>
</article>

