<% provide(:title, 'Accenture Technology Labs') %>

<div class="accenture-cover image-cover"></div>
<article class="post">
	<h1 class="post-title">Accenture Technology Labs</h1>
	<div class="post-body">
		<p>Technology Labs is Accenture's dedicated research & development division, defining the firm's technology vision and developing new business solutions from emerging technologies. At the Tech Labs, I designed and developed a range of mobile and web applications.</p>

		<p>My first project at the Labs was the Cloud Management Application that enables users to monitor and manage their cloud instances in real-time. Users can organize their instances based on business units and project structure, facilitating more efficient project management. As user experience architect of this project, I defined the overall user experience and lead front-end development.</p>

		<p>The next project was The Cloud Enterprise Marketplace, an application store that showcases Accenture's featured cloud offerings. As the user experience architect of this project, I defined the overall user experience, led front-end development and managed the global workflows of development teams in the United States and India.</p>

		<p>My next project was an iOS application, a Mobile Tolling App that effectively replaced the tolling transponders found in commuter vehicles, allowing for seamless tollway fare payment. As the user experience designer of this iOS application, I lead the interface design and Objective-C development. The application was customized for pilots with the Golden Gate Bridge and other tollways.</p>

		<p>The last project I worked on at the Labs was a Rails application that visualized the impact of public health programs. Users of the application were public health directors that needed to measure the impact of public health programs in order to generate a budget and optimize the overall health impact. This application was evenually sold to the government of Singapore and other municipalities.</p>
	</div>
</article>