<% provide(:title, 'Boosted Boards') %>

<div class="boosted-cover image-cover">
</div>
<article class="post">
	<h1 class="post-title">Boosted</h1>
	<div class="post-body">
		<p><a href="http://www.kickstarter.com/projects/170315130/boosted-boards-the-worlds-lightest-electric-vehicl?ref=live" target="_blank">Boosted</a> is creating the world's lightest electric vehicle. Built on top of a high performance longboard, the Boosted drivetrain can propel you up to 20 mph for a range of 6 miles. It can even climb up the steepest hills in a city like San Francisco. Boosted is changing the way people think about urban transporation.</p>

		<p>I recently started working with the team at Boosted to design and develop their new website and storefront. Here's a sneak peak of the initial design. I'll be developing the site for them and making it responsive for mobile and tablets as well.</p>

		<p class="img"><%= image_tag('Boostedv6.png')%></p>
	</div>
</article>