<div class="post-cover"></div>
<article class="post">
	<h1 class="post-title">Chicago Founders</h1>
	<div class="post-body">
		<p>Chicago Founders is a Q&A community for Chicago entrepreneurs. The forum was designed to help support the budding entrepreneurial community in Chicago. Forum members are able to ask and answer questions and use the forum as a platform to develop the Chicago startup community. Members are also able to chat in real-time, promoting instant discussion and networking opportunities. Chicago Founders is a deployment of OSQA (Open Source Question Answer), a python web application built on the django framework. You can visit the forum at chicagofounders.com</p>

		<p>Update: Chicago Founders has been acquired by Built In Chicago! The forum will continue to support the Chicago startup community as Built In Chicago Answers. Chicago is rapidly becoming a startup hub and it is with great pleasure that I can collaborate with Built In Chicago to ensure that it does. The Chicago Founders brand will continue to live on in a new development that will surely be a catalyst in Chicago's development as a startup hub.</p>
	</div>
</article>