<div class="chicago-cover image-cover"></div>
<article class="post">
	<h1 class="post-title">Chicago Founders</h1>
	<div class="post-body">
		<p><a href="http://www.builtinchicago.org/community/questions?title=&field_answer_count_value=&created=&last_updated=&sort_by=created&sort_order=DESC" target="_blank">Chicago Founders</a> is a Q&A forum for Chicago entrepreneurs. The forum was designed to support the budding entrepreneurial community in Chicago. Members are able to ask and answer questions and use the forum as a platform for developing the Chicago startup community. Members are also able to chat in real-time, promoting discussion and networking opportunities.</p>

		<p class="img">
			<%= image_tag('CF_home.png')%>
			<%= image_tag('CF_question.png')%>
		</p>

		<p>In 2012, Chicago Founders was acquired by <a href="http://www.builtinchicago.org/" target="_blank">Built In Chicago</a> and continues to serve the startup community as Built In Chicago's Q&A forum. Built In Chicago has been a great catalyst for the city's development as a startup hub, and it is with great pleasure that I can collaborate with Built In Chicago to support the city's continued growth in tech.
	</div>
</article>