<div class="contact-cover">
</div>
<div class="tagline">I'm friendly, get in touch.</div>
<article class="post">
	<div class="social">
		<a href="mailto:jisiguo@gmail.com?Subject=Hi%20Jisi!"><span class="typcn typcn-mail social-mail"><span></a>
		<a href="http://www.linkedin.com/in/jisiguo" target="_blank"><span class="typcn typcn-social-linkedin social-linkedin"><span></a>
		<a href="http://dribbble.com/jisiguo" target="_blank"><span class="typcn typcn-social-dribbble social-dribbble"><span></a>
		<a href="https://twitter.com/jisiguo" target="_blank"><span class="typcn typcn-social-twitter social-twitter"><span></a>
	</div>
	<div class="post-body">
		<p>All great ideas, products and businesses begin with some inspiration and a conversation. I enjoy meeting entrepreneurs, designers, developers - anyone that's a maker with an interesting project. If you'd like to work together or just want to chat, get in touch! </p>
	</div>
	<div class="status">Jisi Guo is currently <a class="status-button" href="mailto:jisiguo@gmail.com?Subject=Consulting%20Work%20Inquiry">available</a> for consulting work.</div>
</article>

