<div class="contact-cover">
</div>
<div class="tagline">I'm friendly, get in touch.</div>
<article class="post">
	<div class="post-body">
		<p>All great projects, products and businesses began with an idea and a conversation. I enjoy meeting entrepreneurs, designers, developers, anyone that's a maker with an interesting project. If you're interested in working together or just want to chat, get in touch! </p>

		<p>I'm currently avaliable for consulting work.</p>
	</div>
</article>

