<% provide(:title, 'Contact') %>

<div class="contact-cover image-cover">
</div>
<div class="tagline">I'm friendly, get in touch</div>
<article class="post">
	<div class="post-body">
		<p>All great ideas, products and businesses begin with some inspiration and a conversation. I enjoy meeting entrepreneurs, designers, developers - anyone that's a maker with an interesting project. If you'd like to work together or just want to chat, feel free to contact me below. </p>
	</div>
</article>

