<% provide(:title, 'Exec') %>

<div class="exec-cover image-cover"></div>
<article class="post">
	<h1 class="post-title">Exec</h1>
	<div class="post-body">
		<p>I completed some design work for the folks at <a href="https://iamexec.com/" target="_blank">Exec</a>, a service for on-demand labor. In this project, I focused on the brand identity and designed a splash page that would quickly communicate the value proposition. I used the frequently asked questions and common worry points as guidelines in crafting the story of the splash page. I really enjoyed this project, definitely looking forward to more work with a focus on brand identity and effective communication.</p>
		<p class="img"><%= image_tag('execwall.jpg')%></p>
		<p class="img"><%= image_tag('execsplash.png')%></p>
	</div>
</article>