<% provide(:title, 'Ferrari') %>

<div class="ferrari-cover image-cover"></div>
<article class="post">
	<h1 class="post-title">Ferrari Design Language</h1>
	<div class="post-body">
		<p>I have been a long time fan of Ferrari. Their cars are a pure representation of form following function. I wanted to capture the design language of Ferrari and translate that to the industrial design of a sound system. I primarily focused my study on the Ferrari design language by analyzing the Ferrari 599 GTB.</p>

		<p>Most of the distinct styling found on the 599 GTB can be attributed to its aerodynamics and venting requirements. Likewise, a sound system would also require proper venting and airflow to generate the best acoustic properties. This would be prove to be a useful analogy in bringing Ferrari design traits to my speaker design. After multiple iterations of design sketches, I focused on this concept:</p>

		<p class="img"><%= image_tag('ferrarisketch.png')%></p>

		<p>I was primarily inspired by the side vent of the 599 GTB. Like the Ferrari, my speaker would also have aerodynamic venting for the tweeter and subwoofer. The final prototype was created using a single block of high density modeling foam. It was a tedious process, as the prototype was crafted utilizing hand tools and sanding blocks, but it was certainly a great hands-on experience. The model was then primed and painted Ferrari red, featuring the famous Pracing Pony emblem. Overall, I am quite pleased with the final result.</p>

		<p class="img"><%= image_tag('ferrari_1.png')%></p>
		<p class="img"><%= image_tag('ferrari_2.png')%></p>
	</div>
</article>