<div class="google-cover image-cover"></div>
<article class="post">
	<h1 class="post-title">Google Cafes</h1>
	<div class="post-body">
		<p>The Google Cafes project is a design exercise to create a web application that allows Googlers to easily decide where to eat on campus. Users are able to browse menu items, gauge cafe traffic and make reservations, enabling Googlers to find the cafe that fits their dietary and scheduling needs.</p>
	</div>
</article>