<div class="blog-cover">
</div>

<div class="tagline">Thoughts and Ramblings</div>

<div class="article-index">
	<%= render @posts.order(:created_at).reverse %>
</div>




<div class="blog-cover"></div>
