<div class="ribbon-cover image-cover">
</div>
<article class="post">
	<h1 class="post-title">Ribbon</h1>
	<div class="post-body">
		<p><a href="https://ribbon.co/" target="_blank">Ribbon</a> is an online payments platform that allows merchants to easily sell goods and services using a shortened URL that can be shared across social media, email, websites and blogs. Ribbon creates a simplifed checkout page that is integrated into the medium in which the link is shared, allowing for in-stream purchases.</p>

		<p>As a member of the founding team, I led our user experience design and front-end development. The team formally launched Ribbon after 3 months of development and subsequently raised a $1.75MM seed round, allowing us to grow our business and engineering teams.</p>

		<p>One of the most exciting moments at Ribbon was the creation of our Twitter product. I realized that by utilizing the Twitter Card API, we could integrate our payments solution directly inside of a Tweet. We knew that Twitter would never allow us to do so because our implementation would gain access to the iframe only offered by the Twitter Video Card, which was intended solely for media. Alas, I decided to build the product anyway and hope for forgiveness from Twitter and some attention from the press.</p>

		<p>On launch day, we receieved significant press coverage from <a href="http://mashable.com/2013/04/10/ribbon-twitter-purchases/" target="_blank">Mashable</a>, <a href="http://techcrunch.com/2013/04/10/payments-startup-ribbon-now-lets-you-buy-right-on-twitter-com-launches-youtube-support-price-matches-paypal/" target="_blank">TechCrunch</a>, <a href="http://thenextweb.com/insider/2013/04/10/ribbon-lowers-its-fees-to-compete-with-paypal-as-it-launches-in-stream-purchasing-on-twitter-and-youtube/" target="_blank">The Next Web</a>, and others -- and another wave of <a href="https://www.google.com/search?q=ribbon+twitter+shutdown&oq=ribbon+twitter+shutdown" target="_blank">press coverage</a> when our product was shut down only two hours after it was launched. Although shortlived, our Twitter launch was one of the most exciting launch days I've experienced.</p>

		<p>I recently left Ribbon to pursue some personal projects, but continue to serve Ribbon in an advisory capacity. Ribbon is working on some exciting products that will continue to simplify the payments experience online and I'm thrilled to see what's next.
	</div>
</article>