<% provide(:title, 'RPMWEST') %>

<div class="rpmwest-cover image-cover">
</div>
<article class="post">
	<h1 class="post-title">RPMWEST</h1>
	<div class="post-body">
		<p><a href="http://rpmwest.com/" target="_blank">RPMWEST</a> is a denim company that is providing the simplest way to get the perfect pair of jeans. When you order jeans, you get three delivered in the mail. Try them on, find your perfect fit and return the other two jeans free of charge.</p>

		<p class="img"><%= image_tag('rpmwest_deliver.jpg')%></p>

		<p>RPMWEST had a tremendously successful <a href="http://www.kickstarter.com/projects/rpmwest/rpmwest-perfect-jeans-delivered" target="_blank">Kickstarter</a> campaign in June and recently finished the first production run of jeans. RPMWEST approached me to design and develop the new website and store. We aimed to design a clean and minimal site to let the product speak for itself and provide the simplest ordering experience. The site is also responsive to work well with mobile devices and tablets. You can check out the site <a href="http://rpmwest.com/" target="_blank">here</a>.</p>

		<p class="img"><%= image_tag('RPMWESTweb.png')%></p>

		<p class="img"><%= image_tag('RPMWEST-index.png')%></p>
	</div>
</article>