<div class="snocom-cover image-cover"></div>
<article class="post">
	<h1 class="post-title">Snocom Concept</h1>
	<div class="post-body">
	<p>Snocom was a project to develop a device for snow sports enthusiasts that would allow for readily accessible communication. The concept is a rugged phone case that allows the user to enjoy music on the mountain and communicate easily through radio transmission. </p>
	<p class="img"><%= image_tag('snocomsketch.png')%></p>
	<p class="img"><%= image_tag('snocommodel.png')%></p>
	<p class="img"><%= image_tag('snocomtesting.png')%></p>
	</div>
</article>