<div class="post-cover"></div>
<article class="post">
	<h1 class="post-title">Snocom Concept</h1>
	<div class="post-body">
	<p>Snocom was a project to develop a device for snow sports enthusiasts that would allow for readily accessible communication.</p>

	<p>As an avid snowboarder, I found that it was quite difficult to communicate while at mountain ski resorts. In order to further develop this idea, we conducted ethnographic research and analyzed the marketplace. We found that often cell phones had unreliable reception on the mountain and the nature of snow sports apparel caused the use of conventional communication devices to become cumbersome. From a use case perspective, our users were mainly interested in contacting their ski groups in order to coordinate plans and stay together. We also found that many users enjoyed listening to music while skiing or snowboarding. From our research of snow sports enthusiasts, we developed the idea of Snocom.</p>

	<p>Snocom is an easy to use communications device for snow sports enthusiasts. The concept is a rugged case design that allows the user to enjoy music on the mountain and communicate easily through radio transmission. </p>
	</div>
</article>