<% provide(:title, 'Work') %>

<div class="work-cover image-cover">
</div>
<div class="tagline">Selected work and projects</div>
<section class="work-container">
		<a href="https://camoji.com" target="_blank" class="work-card camoji-card"></a>
		<a href="http://www.karmaswipe.com" target="_blank" class="work-card karmaswipe-card"></a>
		<a href="http://leo.co" target="_blank" class="work-card leo-card"></a>
		<a href="http://jobrapp.com" target="_blank" class="work-card jobr-card"></a>
		<a href="http://www.rpmwest.com" target="_blank" class="work-card rpmwest-card"></a>
		<a href="http://ribbon.co" target="_blank" class="work-card ribbon-card"></a>
</section>
