@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.tagline {
	font-family: "source-sans-pro", sans-serif;
	font-size: 50px;
	font-weight: 700;
	color: #ffffff;
	position: absolute;
	top: 255px;
	width: 100%;
	text-align: center;
	@include box_sizing;
}