/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$backgroundColor: #fcfcfc;
$headerColor: rgba(0,0,0,.3);
$headerHover: #404149;
// $headerHover: #42b4c0;
$linkColor: #404149;
// $statusColor: #1ABC9C;
$statusColor: #42b4c0;



@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin transition {
	-webkit-transition: all 0.5s ease;  /* Chrome 1-25, Safari 3.2+ */
     -moz-transition: all 0.5s ease;  /* Firefox 4-15 */
       -o-transition: all 0.5s ease;  /* Opera 10.50–12.00 */
          transition: all 0.5s ease;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
}

#footer {
	background-color: $backgroundColor;
	padding: 40px 0px;
	width: 100%;
	overflow: auto;
	@include box_sizing;
}

.social-footer {
	text-align: center;
	margin-bottom: 20px;
	a {
		padding: 0px 5px;
	}
	.typcn {
		vertical-align: middle;
		font-size: 40px;
		color: rgba(0,0,0,.2);
		@include transition;
	}
	.social-mail {
	&:hover {
		color: $statusColor;
	}
}

	.social-twitter {
		position: relative;
		top: 2px;
		&:hover {
			color: #00ACED;
		}
	}

	.social-dribbble {
		position: relative;
		top: 2px;
		&:hover {
			color: #ea4c89;
		}
	}

	.social-linkedin {
		&:hover {
			color: #007bb6;
		}
	}
}

.status-footer {
	text-align: center;
	font-family: "source-sans-pro";
	font-size: 22px;
	font-weight: 600;
	line-height: 1.5;
	color: rgba(0,0,0,.3);
	.status-button {
		color: $statusColor;
		border-bottom: 1px dotted rgba(0,0,0,.3);
		text-decoration: none;
		@include transition;
		&:hover {
			padding: 3px 13px;
			margin: 0px 10px;
			border: 4px solid $statusColor;
			border-radius: 8px;
		}
	}
}