/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$backgroundColor: #fcfcff;
$headerColor: rgba(0,0,0,.3);
$headerHover: #404149;
// $headerHover: #42b4c0;
$linkColor: #404149;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* End mixins, variables, etc. */

header {
	background-color: $backgroundColor;
	@include box_sizing;
	padding: 20px 45px 20px 20px;
	overflow: hidden;
	width: 100%;
	height: 64px;
	&:hover {
		a.home, nav.navigation a {
			color: rgba(0,0,0,.45);
		}
	}
	a.home {
		height: 64px;
		line-height: 71px;
		padding: 0px 20px;
		position: relative;
		margin: -20px 0px 0px -20px;
		color: $headerColor;
		user-select: none;
		letter-spacing: -2px;
		font-weight: 900;
		font-family: "source-sans-pro", sans-serif;
		font-size: 45px;
		float: left;
		text-decoration: none;
		transition: all .5s ease;
		&:hover {
			color: $headerHover;
			transition: all 1s ease;
		}
	}

	nav.navigation {
		margin: 1px 0px 0px 0px;
		float: right;
		a {
			font-family: "source-sans-pro", sans-serif;
			font-size: 22px;
			font-weight: 600;
			color: $headerColor;
			text-decoration: none;
			margin-left: 45px;
			transition: all .5s ease;
			&:first-child {
				margin-left: 0px;
			}
			&:hover {
				color: $headerHover;
				transition: all .5s ease;
			}
		}
	}
}

.active {
	color: $headerHover !important;
}

.default-cover {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: -1;
	background: #000000 url("lines.jpg") center center no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	height: 500px;
}

.about-cover {
	@extend .default-cover;
}

.work-cover {
	@extend .default-cover;
	background-image: url("baybridge.jpg");
}

.blog-cover {
	@extend .default-cover;
	background-image: url("golden.jpg");
}

.contact-cover {
	@extend .default-cover;
	background-image: url("epicpanorama.jpg");
}

.post-cover {
	@extend .default-cover;
}

.ribbon-cover {
	@extend .default-cover;
	background-image: url("ribbondevices.png");
}

.chicago-cover {
	@extend .default-cover;
	background-image: url("chicago.jpg");
}

.accenture-cover {
	@extend .default-cover;
	background-image: url("accentureice.png");
}

.exec-cover {
	@extend .default-cover;
}

.google-cover {
	@extend .default-cover;
}

.ferrari-cover {
	@extend .default-cover;
}

.snocom-cover {
	@extend .default-cover;
}

.about-area {
	display: inline-block;
}

.about-me {
	display: inline-block;
	width: 475px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	line-height: 28px;
}

#about-me {
		display: none;
		font-family: "rooney-web";
		color: rgba(0,0,0,.45);
		font-size: 20px;
		font-weight: 400;
		line-height: 20px;
		// margin-left: 10px;
		a {
			text-decoration: none;
			color: $linkColor;
			font-weight: 400;
		}
}

.northwestern {
	color: #520063 !important;
}

.ribbon {
	color: #FF743D !important;
}

.twitter {
	color: #00ACED !important;
}

.dribbble {
	color: #ea4c89 !important;
}

.linkedin {
	color: #007bb6 !important;
}