/* Landscape phones and down */
@media (max-width: 480px) {
	.about-me {
		display: none;
	}
	header {
		height: 54px;
		padding: 20px;
		a.home {
			font-size: 35px;
			height: 54px;
			line-height: 61px;
			padding: 0px 10px;
		}
		nav.navigation {
			margin: -1px 0px 0px 0px;
			a {
				font-size: 16px;
				margin-left: 15px;
			}
		}
	}

	.image-cover {
		height: 300px;
	}

	.content-container {
		margin-top: 235px;
	}

	.tagline {
		font-size: 30px;
		top: 144px;
		padding: 0px 10px;
	}

	article.post {
		padding: 40px 20px;
		.post-title, .main-title {
			font-size: 30px;
		}
		.post-body {
			font-size: 20px;
			p {
				font-size: 20px;
			}
			li {
				font-size: 20px;
			}
		}
	}

	article.index-post {
		@extend article.post;
		padding: 40px 20px 0px 20px;
		&:last-child {
			padding: 40px 20px;
		}
	}

	#disqus_thread {
		padding: 0px 20px;
	}

	.status-footer {
		font-size: 14px;
		.status-button {
			&:hover {
				border: 2px solid #1ABC9C;
				border-radius: 4px;
				padding: 2px 5px;
				margin: 0px 2px;
			}
		}
	}
	.iphone-frame {
		background: none;
		padding: 0px;
	}
	.iphone-wrapper {
		width: 100% !important;
		iframe {
			padding: 0px !important;
		}
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	article.post {
		padding: 40px 25px;
	}

	article.index-post {
		padding: 40px 25px 0px 25px;
		&:last-child {
			padding: 40px 25px 40px 25px;
		}
	}
	.image-cover {
		height: 400px;
	}

	.content-container {
		margin-top: 335px;
	}

	.tagline {
		font-size: 40px;
		top: 205px;
		padding: 0px 10px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.about-me {
		display: none;
	}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.image-cover {
		height: 400px;
	}

	.content-container {
		margin-top: 335px;
	}
	.about-me {
		display: none;
	}

	.tagline {
		font-size: 40px;
		top: 205px;
		padding: 0px 10px;
	}
}

/* Large desktop */
@media (min-width: 1200px) {  }