<div id="footer">
	<div class="social-footer">
		<a href="mailto:jisiguo@gmail.com?Subject=Hi%20Jisi"><span class="typcn typcn-mail social-mail"><span></a>
		<a href="http://www.linkedin.com/in/jisiguo" target="_blank"><span class="typcn typcn-social-linkedin social-linkedin"><span></a>
		<a href="http://dribbble.com/jisiguo" target="_blank"><span class="typcn typcn-social-dribbble social-dribbble"><span></a>
		<a href="https://twitter.com/jisiguo" target="_blank"><span class="typcn typcn-social-twitter social-twitter"><span></a>
	</div>
	<div class="status-footer">
		Jisi Guo is currently <a class="status-button" href="mailto:jisiguo@gmail.com?Subject=Consulting%20Work%20Inquiry">available</a> for consulting work.
	</div>
</div>