<header>
	<%= link_to "JG", root_path, class:"home" %>
	<nav class="social">
		<%= link_to "Blog", root_path, class:"button" %>
		<%= link_to "Projects", projects_path, class:"button" %>
		<%= link_to "Contact", contact_path, class:"button" %>
	</nav>
</header>