<header>
	<h1>JG</h1>
	<nav class="social">
		<a class="twitter" href="http://twitter.com/jisiguo" target="_blank">Twitter</a>
		<a class="dribbble" href="http://dribbble.com/jisiguo" target="_blank">Dribbble</a>
		<a class="linkedin"href="http://www.linkedin.com/in/jisiguo" target="_blank">LinkedIn</a>
	</nav>
</header>